= simple_form_for(@shop_section) do |f|
  = f.error_notification

  .form-inputs
    = f.association :etsy_shop_section
    = f.input :name
    = f.input :description

  .form-actions
    = f.button :submit
