!!!
%html
  %head
    %title To the Root Handmade Creations

  %body
    %table
      %body
        %tr
          %th Name:
          %td= params["full_name"]
        %tr
          %th Email:
          %td= params["email"]
        %tr
          %th Phone Number:
          %td= params["phone_number"]
        %tr
          %th Product:
          %td= params["product"]
        %tr
          %th Inquiry:
          %td= params["inquiry"]
