.listing.col-xs-6.col-sm-4.col-md-3.col-leg-2
  =link_to "#{request.env['PATH_INFO']}/#{locals[:product].id}", class: 'show-description', title: locals[:product].title do
    .inside-container{ style: "background-image: url(#{locals[:product].images.first["url_570xN"]});" }
      .title
        %h3
          = raw locals[:product].title

      .price
        %span
          = number_to_currency( locals[:product].price )

    .clearfix