.shop-sections
  .inside-container{ style: "background-image: url(#{locals[:section].etsy_products.first.images.first});", itemscope: :true, itemtype: "https://schema.org/category" }
    .title
      %h3{ itemprop: "name" }
        = locals[:section].title

    .section-link
      .url{ itemprop: "url" }
        = link_to "https://www.etsy.com/ca/shop/ToTheRoot?section_id=#{locals[:section].shop_section_id}", class: "btn btn-default", target: "_blank", title: "Link to #{locals[:section].title} on Etsy.com.", rel: "nofollow", onclick: "ga('send', 'event', {eventCategory: 'Visiting-Etsy', eventAction: 'click', eventLabel: 'CTA Etsy'});" do
          %i.fa.fa-search
          View on Etsy

    .clearfix