#home-nav
  = render "navs/default"

#products{ itemscope: true, itemtype: 'http://schema.org/Product' }
  
  %h1{ title: "Orillia handmade #{@shop_section.title.downcase}.", itemprop: 'name' }
    = raw "Products - #{@shop_section.title.downcase}"
  .bread-crumbs
    %small
      =link_to "/home", root_path
      =link_to "/products/#{ @shop_section.title }"

  .container
    %section
      - @shop_section.etsy_products.each do |product|
        = render "products/listing", locals: { product: product }
