!!!
%html
  %head
    %meta{ name: "google-site-verification", content: "rAbYWDjUYdYwAYHAhnsH3PqAyeIRE_BP5iFlqXWlgaA" }
    %meta{ content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type" }
    %meta{ name: "description", content: "We are a Canadian company from Orillia, Ontario who specializes in handmade apparel, created from many organic fabrics, for conscious families." }
    %meta{ name: "viewport", content: "width=device-width, initial-scale=1.0" }
    %link{ rel: "icon", type: "image/png", href: "favicon-32x32.png", sizes: "32x32" }
    %link{ rel: "icon", type: "image/png", href: "favicon-16x16.png", sizes: "16x16" }

    %title Orillia Handmade Creations by To The Root
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    = stylesheet_link_tag params[:controller], media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags

  %body
    = yield
