!!!
%html
  %head
    %meta{name: "google-site-verification", content: "rAbYWDjUYdYwAYHAhnsH3PqAyeIRE_BP5iFlqXWlgaA"}
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
    %meta{name: "description", content: "We are a Canadian company from Orillia, Ontario who specializes in handmade apparel, created from many organic fabrics, for conscious families."}

    %title Handmade Creations by To The Root
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = stylesheet_link_tag params[:controller], media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    #home-nav
      = render "navs/default"
      
    .container
      = yield
